<!DOCTYPE html>
<html>
  <head>
    <title>Logger</title>
    <link href="/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="logger"></div>
    <script type="text/javascript" src="/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/logger.js"></script>
  </body>
</html>
